---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Persuader.ai">
  <article>
    <h2 class="text-center mb-4 text-2xl font-semibold text-amber-500">
      What is this?
    </h2>
    <p class="max-w-prose text-xl mb-4">
      The persuader.ai is a tool oriented to the content creator how wants help
      or at least get inspiration for the creation of clickbait titles or CTA
      (Call to Action) phrases to persuade potential viewers, readers,
      listeners, customers, etc. to consume their content.
      <br />
      <br />
      You could use it as is or consume it from the API to automate works of publishin
      content, also if you want more independency, you can take the source code from
      <a
        class="text-orange-400"
        href="https://github.com/chrisvill2312/persuader-ai"
        target="_blank"
        rel="noopener noreferrer">github repository</a
      > to deploy this on your own.
    </p>
    <p class="max-w-prose font-thin italic text-neutral-100">
      (This tool was created as part of the applications created for the
      <a
        class="text-orange-400"
        href="https://github.com/topics/midudev-cohere-2023"
        target="_blank"
        rel="noopener noreferrer">Midudev's AI Hackaton constest</a
      >)
    </p>
  </article>
</Layout>
