---
import Layout from "../layouts/Layout.astro";
---

<Layout title="persuader.ai">
  <article>
    <h2 class="text-center mb-4 text-xl font-semibold text-amber-500">
      What is this?
    </h2>
    <p class="max-w-prose text-lg mb-4">
      The persuader.ai is a tool oriented to the content creator how want help
      or inspiration for the creation of clickbait titles or CTA (Call to
      Action) phrases to persuade potential viewers/readers/customers to consume
      their content.
    </p>
    <p class="max-w-prose text-lg">
      This tool was created as part of the applications created for the Midude's AI Hackaton constest 
    </p>
  </article>
</Layout>
