---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Persuader.ai">
  <article>
    <h2 class="text-center mb-4 text-2xl font-semibold text-amber-500">
      What is this?
    </h2>
    <p class="max-w-prose text-xl mb-4">
      The Persuader.ai is a tool designed to assist content creators in the
      creation of persuasive clickbait titles and Call-to-Action (CTA) phrases.
      It aims to inspire content creators and encourage the consumption of their
      content by potential viewers, readers, listeners, and customers.
      <br />
      <br />
      The tool can be utilized as is or integrated through its API for automated
      content publishing. For those seeking greater independence, the source code
      can be obtained from the
      <a
        class="text-orange-400"
        href="https://github.com/chrisvill2312/persuader-ai"
        target="_blank"
        rel="noopener noreferrer">github repository</a
      > for deployment on personal systems.
    </p>
    <p class="max-w-prose font-thin italic text-neutral-100">
      (This tool was created as part of the applications created for the
      <a
        class="text-orange-400"
        href="https://github.com/topics/midudev-cohere-2023"
        target="_blank"
        rel="noopener noreferrer">Midudev's AI Hackaton constest</a
      >)
    </p>
  </article>
</Layout>
