---
const btnStyle =
  "flex py-2 px-4 my-1 mx-2 border rounded border-amber-600 hover:border-amber-400 hover:scale-105 hover:bg-indigo-700 active:scale-95 active:border-amber-200 active:bg-indigo-500 sm:text-xl transition-all";
//
---

<a href="/">
  <h1
    class="text-center font-bold text-5xl sm:text-7xl my-10 text-orange-400 hover:text-orange-300 transition-all"
  >
  Persuader.ai
  </h1>
</a>
<nav class="flex w-full justify-center flex-row">
  <div class="flex">
    <a class={btnStyle} href="/clickbait">Clickbait</a>
    <a class={btnStyle} href="/cta">CTA</a>
    <a class={btnStyle} href="/api">API</a>
  </div>
</nav>
